body{
	
}


#banner{
	position: absolute;
	top: 5px;
	/*padding: 10px;
	height: 80px;*/
	width: 100%;
	background-color: rgb(14, 143, 189);
	
}

.social{
	display: inline;
	position: absolute;
	top: 15px;
	right: 50px;
	/*height: 40px;*/
	padding: 0px;
	margin: 0px;
	background-color: rgb(14,143,189);
	

}

a:hover{
	cursor: zoom-in;
}

nav ul li{
	list-style: none;
	float: left;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 80px;
	font-family: "MeltFactory", regular;
	color: white;
}

nav ul li:hover{
	background-color: white;
}


#title{
	position: relative;
	left: 20px;
	font-size: 120px;
	font-family: "MeltFactory", regular;
}

.issue{
	position: relative;
	top: 0;
	left: 25%;
	margin: 0 auto;
	width: 900px;

}


